:root {
  --background: #084c61;
  --background-second: #4f6d7a;
  --background-title: #e3b505;
  --button-primary: #db504a;
  --button-primary-hover: #be3935;
  --button-secondary: #084c61;
  --button-secondary-hover: #053847;
  --button-pause: #e3b505;
  --button-pause-hover: #b8950b;
  --button-start: #6ac050;
  --button-start-hover: #4eb62e;
  --title-color: black;
  --font-family: "Roboto", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
}
